@use '../../../base' as *;
.queries{
    li {
            border-bottom: 1px solid $border;
            display: block;
            img{max-width: 60px; margin-right: 8px;}
            span{display: inline-block; margin-right: 8px;}
            &:last-child{border-bottom: 0;}
        }
} 