<section class="p-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="bg-white total-sale pt-4">
     
                <div class="mb-5">
                    <h2 class="title">Today’s Sales</h2>
                    <span>Sales Summery</span>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="sale-box pink">
                            <i class="icon rounded-circle d-flex align-items-center justify-content-center mb-3">
                                <img src="icons/sales.svg" alt="sales">
                            </i>
                            <h3 class="mb-3">$1k</h3>
                            <span class="d-block">Total Sales</span>
                            <small>+8% from yesterday</small>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="sale-box orange">
                            <i class="icon rounded-circle d-flex align-items-center justify-content-center mb-3">
                                <img src="icons/orders.svg" alt="orders">
                            </i>
                            <h3 class="mb-3">300</h3>
                            <span class="d-block">Total Sales</span>
                            <small>+8% from yesterday</small>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="sale-box green">
                            <i class="icon rounded-circle d-flex align-items-center justify-content-center mb-3">
                                <img src="icons/disc.svg" alt="disc">
                            </i>
                            <h3 class="mb-3">5</h3>
                            <span class="d-block">Total Sales</span>
                            <small>+8% from yesterday</small>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <div class="sale-box purple">
                            <i class="icon rounded-circle d-flex align-items-center justify-content-center mb-3">
                                <img src="icons/new-costumers.svg" alt="new-costumers">
                            </i>
                            <h3 class="mb-3">8</h3>
                            <span class="d-block">Total Sales</span>
                            <small>+8% from yesterday</small>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bg-white total-sale pt-4">
                    <div class="mb-2">
                        <h2 class="title">Today’s Sales</h2>
                        <span>Sales Summery</span>
                    </div>
                    <canvas id="baseChart">
                        {{chart}}
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</section>


