.query-form{ background: #fff; box-shadow: 1px 2px 4px rgba(0,0,0,.1); padding:16px; margin-bottom: 20px;
    h1{font-size: 15px; text-transform: uppercase;}
}
.loading{position: fixed; left: 0; right: 0; top:0; bottom: 0; margin: auto; background-color: rgba(0,0,0,.9);
    h3{color: #fff; font-weight: 500; font-size: 24px;}
}
.prev{width: 100%;}

.queries{
    li { display: block;
        span{display: inline-block; margin-right: 8px;}
    }
} 

@media(min-width:576px){
    .query-form{ padding: 25px;
        h1{font-size: 18px;}
    }
}