.query-form{ background: #fff; box-shadow: 1px 2px 4px rgba(0,0,0,.1); padding:16px; margin-bottom: 20px;
    h1{font-size: 15px; text-transform: uppercase;}
}
.loading{position: fixed; left: 0; right: 0; top:0; bottom: 0; margin: auto; background-color: rgba(0,0,0,.9);
    h3{color: #fff; font-weight: 500; font-size: 24px;}
}
.prev{width: 100%;}

.queries{
    li { display: block;
        span{display: inline-block; margin-right: 8px;}
    }
} 

.submit-btn{ margin-bottom: 0;
     position: fixed; left: 0; right: 0; bottom: 0; padding: 10px; z-index: 1; background: #fff;
     box-shadow: 10px 0 30px rgba(0, 0, 0, 0.2);
     .btn{min-width: 100%;}
}

@media(min-width:576px){
    .query-form{ padding: 25px;
        h1{font-size: 18px;}
    }
    .submit-btn{
        all: inherit;
        .btn{min-width: 160px;}
    }
}