<header class="bg-white header mb-2">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <h1 class="title mb-0">Dashboard</h1>
            </div>
            <div class="col-lg-4">
                 <div class="search">
                    <img class="icon" src="icons/magnifier.svg" alt="search">
                    <input type="text" class="form-control border-0" placeholder="Search here...">
                </div>
            </div>
            <div class="col-lg-4">
                <button type="button" class="notification btn btn-link text-center">   
                    <img src="icons/notification.svg" alt="notification">
                    <span class="badge">1</span>
                </button>
            </div>
        </div>
    </div>
</header>
