.navbar{
    background:rgba(255,255,255,.9);  box-shadow: 0 2px 4px rgba(0,0,0,.1); position: fixed; top:0; left: 0; right: 0; 
    padding-top: .5rem;
    padding-bottom: .5rem;
    .navbar-brand{color: #113561; font-size: 14px; font-weight: 700; text-transform: uppercase;
        img{max-width: 30px; margin-right: 7px;}
        .slog{
            line-height: 10px;
            small{
                font-weight: 300; font-size: 9px;
            }
            .t-2{
                font-size: 10px;
            }
            .t-3{
                font-size: 12px;
            }
        }
    }
    .navbar-nav{  
        .nav-link{display: block;
            padding-right: .5rem;
            padding-left: .5rem;  color: #113561;
            &.call{display: inline-flex; align-items: center; 
                .icon{width: 36px; height:36px; border-radius: 100%;}
                span{padding-left: 8px;}
             }
        } 
    }
}

@media(min-width:992px){
    .navbar{
        .navbar-brand{ font-size: 16px;
            img{max-width: 46px;}
            .slog{
                line-height: 10px;
                small{
                    font-weight: 300; font-size: 9px;
                }
                .t-2{
                    font-size: 12px;
                }
                .t-3{
                    font-size: 14px;
                }
            }
        }
    }
}

