@if (showHeader) {
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container  d-flex align-items-center">
      <a class="navbar-brand d-flex" routerLink="queryform">
        <img src="icons/logo-pharma.svg" alt="logo">
        <span class="slog">
           <small>The</small>
           <span class="d-block t-2">National</span>
           <span class="t-3">Pharma</span>
        </span>
      </a>

        <ul class="navbar-nav d-flex align-items-center justify-content-center ms-auto">
          <li class="nav-item">
            <a href="tel:9811824495" class="nav-link call">
                <i class="icon border d-flex align-items-center justify-content-center">
                    <img  src="icons/call.svg" alt="call">
                </i>                   
                <span class="d-none d-inline-md-block">9811824495</span>
            </a>
          </li>
        </ul>

      </div>
  </nav>
}
