<aside class="aside fixed-top bg-white">
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="sales-graph">
            <img class="icon" src="icons/graph.svg" alt="Dashboard">
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="order">
            <img class="icon" src="icons/order.svg" alt="Dashboard">
            <span>Order</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">
            <img class="icon" src="icons/logout.svg" alt="Dashboard">
            <span>Logout</span>
          </a>
        </li>    
      </ul>
</aside>

