$textdark:#113561;
$green:#1BC8B1;
$blue:#1DA1F2;
$light:#DDF3FC;
$textColor:#6C8098;
$primary:#1565c0;
$border:#EDF2F6;
$d-title:#151D48;
$d-text:#425166;
$d-blue:#4079ED;
$d-blue:#5D5FEF;
$sky:#ddf3fc;



