<div class="absolute  loader-wrapper">
    <div class="d-flex align-items-center justify-content-center flex-grow-1 h-100">
      <div class="absCenter">
        <div class="loaderPill">
          <div class="loaderPill-anim">
            <div class="loaderPill-anim-bounce">
              <div class="loaderPill-anim-flop">
                <div class="loaderPill-pill"></div>
              </div>
            </div>
          </div>
          <div class="loaderPill-floor">
            <div class="loaderPill-floor-shadow"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
