<section class="top-space bg-light vh">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="thanks box-shadow text-center">
                     <img class="d-inline-block icon" src="icons/sucessfull.svg" alt="successfull">
                     <h1 class="title">Thanks for visit our site</h1>
                     <p>Your query sent Successfull</p>
                     <p>We will get back to you shortly!</p>
                     <button type="button" class="btn" routerLink="/queryform">Go Back</button>
                </div>
            </div>
        </div>
    </div>
</section>
