<footer>
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-6">
                <span>All Copyright reserved by The National Pharma</span>
            </div>
            <div class="col-6 col-lg-6">
                <a href="mailto:carethenationalpharma@gmail.com" class="text-body mail">
                    <img class="mail-icon" src="icons/envelope.svg" alt="mail">
                    carethenationalpharma&#64;gmail.com
                </a>
            </div>
        </div>
    </div>
    <a href="mailto:adsaifee768@gmail.com" class="text-body dev text-center">Developed by adsaifee768&#64;gmail.com</a>
</footer>
